.tab {
  display: flex;
}

.tab > .tab-item {
  padding: 10px;
  background-color: rgb(227, 239, 250);
}

.tab > .tab-item:hover {
  cursor: pointer;
}

.tab > .tab-item.tab-item-active:hover {
  cursor: default;
}

.tab > .tab-item:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.tab > .tab-item:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tab > .tab-item-active {
  background-color: rgb(10, 52, 88);
  color: white;
}
